 <div class="container">

<h1 class="title">Responder al Usuario</h1>

<%= render 'form', petition: @petition %>

<div class="controls">
<%= link_to 'Show', @petition %> |
<%= link_to 'Back', petitions_path %>
</div>

</div>


