/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{ font-family: 'Roboto', sans-serif; }
*{ box-sizing: border-box; }
#notice{
	width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
}
header{
	padding: 40px 0;
	text-align: center;
}
.buttons{
    margin: 0 auto;
    overflow: hidden;
    width: 70%;
}
	.buttons a{
		padding: 10px 20px;
	    background: #f7f7f7;
	    border-top: 1px solid #ccc;
	    border-left: 1px solid #ccc;
	    border-right: 1px solid #ccc;
	    text-decoration: none;
	    transition: linear 0.2s all;
	}
		.buttons a:hover{ background: #f3f3f3; }

	.buttons a.left{ float: left; }
	.buttons a.right{ float: right; }

	.buttons a.blue{  
		border: 1px solid #1188D4;
		background: #1188D4; 
	}
	.buttons a.red{
	    border: 1px solid #FF2626;
	    background: #FF2626;
	    color: #FFF;
	}
.dashboard .buttons{ width: 100%; }	
.dashboard{
	margin: 0 auto;
	width: 95%;
}
.container{
	background: #f7f7f7;
	border: 1px solid #ddd;
	margin: 0 auto 20px;
	padding: 20px;
	width: 70%;
}
.container img{ width: 100%; }
.title{
	font-weight: 300;
	font-size: 25px;
	line-height: 35px;
	margin-bottom: 40px;
	text-align: center;
}
	.title span{ 
		font-weight: 100;
		font-size: 18px; 
	}
.field{ 
	margin-bottom: 20px !important;
	overflow: hidden;
}
.form{ width: 100%; }
.form input[type="text"],
.form input[type="email"],
.form input[type="number"]{
	border: 1px solid #ccc;
	font-weight: 100;
	font-size: 16px;
	padding: 10px;
	width: 100%;
}
.form input[type="text"]::-webkit-input-placeholder { font-weight: 100; }
.form input[type="text"]::-moz-placeholder { font-weight: 100; }
.form input[type="text"]:-ms-input-placeholder { font-weight: 100; }
.form input[type="text"]:-moz-placeholder { font-weight: 100; }
.form select{
	height: 40px;
	float: left;
	margin-right: 0.33%;
	width: 33%;
}
	.form select:last-child{ margin-right: 0; }
.form textarea{
	border: 1px solid #ccc;
	font-weight: 100;
	font-size: 16px;
	min-height: 200px;
	padding: 10px;
	resize: none;
	width: 100%;
}
table{
	border: none;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	width: 100%;
    text-align: center;
}
table thead tr{ background: #E0E0E0; }
table thead tr th{ 
	padding: 20px 5px;
	width: 11.11%; 
}
table tbody tr{ background: #F3F3F3; }
table tbody tr td{
	padding: 10px 5px;
}
	table tbody tr td .close{
		background: #FF2626;
		color: #FFF;
		padding: 5px 10px;
	}
	table tbody tr td .open{
		background: #00D96D;
		color: #FFF;
		padding: 5px 10px;
	}
.controls{
	margin: 0 auto;
	width: 90%;
}
.form .controls{
	margin-bottom: 20px;
	width: 100%;
}
.checkbox label{ 
	float: left; 
	font-size: 18px;
	margin-right: 10px;
}

.admin{
	margin: 0 auto;
	width: 320px;
}
	.admin h2{ text-align: center; }
	.admin input[type="text"],
	.admin input[type="email"],
	.admin input[type="password"]{
		padding: 10px;
		width: 100%;;
	}
	.admin input[type="submit"]{
		background: #1188D4;
		border: none;
		color: #FFF;
		cursor: pointer;
		width: 100%;
		padding: 20px;
	}

.search{ 
	padding: 20px 0; 
	overflow: hidden;
}
	.search	label{
		font-weight: bold;
	}
	.search input{
	    -webkit-appearance: none;
	    background-color: white;
	    -webkit-rtl-ordering: none;
	    user-select: none;
	    cursor: auto;
	    padding: 1px;
	    border-width: 2px;
	    border-style: none;
	    border-color: none;
	    border-image: none;
	}    
	.search input[type="search"]{
		border: 1px solid #ddd;
		float: left;
		display: block;
		height: 40px;
		padding: 10px;
		width: 80%;
	}
	.search input[type="submit"]{
		background: #1188D4;
		color: #fff;
		float: left;
		display: block;
		height: 40px;
		padding: 10px;
		width: 20%;
	}

.btn{
	display: inline-block;
	border: none;
	cursor: pointer;
}
.blue{
	background: #1188D4;
	color: #FFF;
}
.medium{
	font-weight: 100;
	font-size: 18px;
	padding: 10px 20px;
}